<div class="win">
    <form #newOutlet (submit)="addOutlet()" autocomplete="off" >
        <div class="field-dark" [formGroup]="outletForm">
            <label>Outlet Name</label>
            <input name="name" formControlName="name" id="name" required>
            <br>
            <label>Street</label>
            <input name="street" formControlName="street"  id="street" required>
            <br>
            <label>Landmark</label>
            <input name="landmark" formControlName="landmark" id="landmark" required>
            <br>
            <label>Available Food Packets</label>
            <input type="number" name="availableFoodPackets" formControlName="availableFoodPackets" id="availableFoodPackets" required>
            <br>
            <label>Type of Food</label>
            <input name="foodType" formControlName="foodType"id="landmark" id="foodType" required>
            <br>
            <label>Required Volunteers</label>
            <input type="number" name="requiredVolunteers" formControlName="requiredVolunteers"id="landmark"id="vols" required>
            <br>
            <span>
                <label>Date</label>
                <input type="date" name="date" formControlName="date" id="date">
            </span>

            <br>
            <button type="submit" class="btn btn-lg btn-secondary">ADD</button>
        </div>
    </form>
</div>

