<div>
    <h3>How We Make Differance</h3>
    
    <p>
        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Neque esse repudiandae officia veniam facilis exercitationem fuga explicabo quas autem? Accusantium non accusamus
            nostrum excepturi doloremque eos cupiditate aliquid odit ipsam?</i>
    </p>
    <p>
        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Neque esse repudiandae officia veniam facilis exercitationem fuga explicabo quas autem? Accusantium non accusamus
            nostrum excepturi doloremque eos cupiditate aliquid odit ipsam?</i>
    </p>
    <img src="/assets/17.jpg" alt="image" width=400px height=600px>
</div>   

    


