<div class="container-sm">
    <form #registration (ngSubmit)="registerVol()"  autocomplete="off">
        <div class="field-dark" [formGroup]="registrationForm">
            <label class="lab">Outlet Id</label>
            <input formControlName="outletId" readonly><br>
            <label class="lab">Name</label>
            <input formControlName="name" id="name"><br>
            <label type="number" class="lab">Phone Number</label>
            <input formControlName="phone" id="phone"><br>
            <label class="lab">Email</label>
            <input type="email" formControlName="email" id="email"><br>
            
            <button type="submit" class="btn btn-dark">Register</button>
        </div>
    </form>
</div>
