<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1"><h1>Gotham Cares Society</h1></span>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark">Home</button>
            <button type="button" class="btn btn-outline-dark">Distribution Outlets</button>
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark">Add New Outlet</button>
            <button type="button" class="btn btn-outline-dark">Edit/Delete Outlets</button>
        </div>
        
    </div>
</nav>