<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1"><h1>Gotham Cares Society</h1></span>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark" routerLink="">Home</button>
            <button type="button" class="btn btn-outline-dark" routerLink="distribution">Distribution Outlets</button>
        </div>

        <div>
            <button type="button" class="btn btn-outline-dark" routerLink="signin">Sign In</button>
        </div>
        
    </div>
</nav>