* {
  padding: 0;
  margin: 0;
}
header h1 {
  color: #073b4c;
  margin-top: 10px;
  margin-right: 50px;
  float: left;
}
header button {
  margin-top: 15px;
  padding: 10px;
}
div.ab {
  margin-right: 20px;
  margin-left: 200px;
}
button.sign {
  margin-right: 20px;
}

header {
  padding-top: 10px;
  background-color: #ade8f4;
  color: #ade8f4;
  padding-bottom: 25px;
}

.btn-outline-light {
  border-color: #073b4c;
  background-color: #ade8f4;
  color: #073b4c;
}

.btn-outline-light:hover {
  border-color: #073b4c;
  background-color: #073b4c;
  color: #ade8f4;
}
