<div class="win">
<form #signin (submit)="login()" autocomplete="off">
    <div class="field-dark" [formGroup]="loginForm">
        <label>Email</label>
        <input type="email" name="email" formControlName="email"  id="email" required>
        <br>
        <label>Password</label>
        <input type="password" name="street" formControlName="password" id="password" required>
        <br>
        <button class="btn btn-outline-primary">Sign In</button>
    </div>
</form>
</div>
<div>
    <h5>{{response.message}}</h5>
</div>
<div *ngIf="this.signedIn">
    <a routerLink="adminpage">Go to Admin Page</a>
</div>


